<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=dbShop;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="dbShopEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=dbShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="importEntities" connectionString="metadata=res://*/ModelImport.csdl|res://*/ModelImport.ssdl|res://*/ModelImport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=dbShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CarsServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CarsServiceSoap1" />
        <binding name="PCServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PCServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44314/CarsService.asmx" binding="basicHttpBinding" bindingConfiguration="CarsServiceSoap" contract="CarsService.CarsServiceSoap" name="CarsServiceSoap" />
      <endpoint address="https://localhost:44314/PCService.asmx" binding="basicHttpBinding" bindingConfiguration="PCServiceSoap" contract="PCService.PCServiceSoap" name="PCServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>